* {
    box-sizing: border-box;
}

.afterDeadline {
    color: #fc0800;
}

.closeToDeadline {
    color: #fcbd00;
}

.moreThanTwoDaysLeft {
    color: #979797;
}

.filter {
    margin-right: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.assignedLabel {
    margin: 20px 0;
    display: flex;
    align-items: baseline;
}

.filterOpt {
    margin-right: 10px;
}

.filterList i {
    font-size: 15px;
}

.filterList {
    text-transform: uppercase;
    color: #4e5860;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.61px;
    cursor: pointer;
}

.assigned {
    width: 150px;
    height: 30px;
    background-color: #3d7dca;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.newItemButton {
    margin: 20px 0;
}

.addItem {
    width: 200px;
    height: 30px;
    background-color: #e14504;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.flexTable {
    display: flex;
    flex-flow: row no-wrap;
    transition: 0.5s;
    color: #979797;
}

.flexTable.header {
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    color: #979797;
    position: sticky;
    top: 0;
}

.flexTable.row {
    background-color: #ffffff;
    margin-bottom: 3px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

.flexTable.row:last-child {
    margin-bottom: 0;
}

.flexTable.row:hover {
    border-bottom: 2px solid #3d7dca;
}

.projectName {
    font-size: 12px;
    color: #979797;
}

.flexRow.bodyCell {
    font-size: 10px;
}

.flexRow.bodyCell.first {
    font-size: 14px;
    padding: 0 15px;
}

.arrow {
    margin: 0 10px;
    padding-bottom: 5px;
}

.flexRow.bodyHeader {
    font-size: 11px;
    color: #979797;
    text-align: left;
}

.flexRow {
    width: calc(100% / 5);
    text-align: left;
    padding: 10px 0;
}

.flexRow.bodyHeader.first {
    width: 55%;
    padding-right: 10px;
}

.rowspan {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
}

.bodyCell {
    padding: 30px 7px;
    color: #4e5860;
    display: inline;
}

.bodyHeader {
    text-align: center;
    padding-right: 10px;
}

.bodyHeader.first {
    text-align: left;
    padding-left: 30px;
}

.flexRow.bodyCell.first {
    display: flex;
    align-items: center;
    width: 55%;
}

.titleContainer {
    margin: 0 10px;
}

.flexCell {
    width: calc(100% / 3);
    text-align: center;
    padding: 0.5em 0.5em;
}

.spinner {
    text-align: center;
    margin-top: 100px;
    color: #003c4d;
}

.fa-sort {
    font-size: 100px;
}

.fa-circle {
    font-size: 10px;
}

.tBody::-webkit-scrollbar-track {
    background-color: #D0D0D0;
}


/* scrollbar */

.tBody::-webkit-scrollbar {
    width: 12px;
    background-color: #D0D0D0;
}

.tBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #686868;
}

:host .itemsAndDetailsContainer {
    height: 100%;
}

.itemsAndDetailsContainer {
    display: flex;
    width: 99%;
    margin: 0 auto;
    height: 100%;
}

.innerContainer {
    padding: 0 10px;
}

.detailsContainer {
    margin: 82px 0 0;
    margin-right: 10px;
    width: 35%;
    height: calc(100% - 200px);
    background-color: white;
}

.tableContainer {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.tBody {
    margin-top: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 255px);
}