<!-- top  menu -->
<div class="menuContainer">
    <div class="topRow">
        <div class="menuWrapper">
            <nav class="menu">
                <div class="menuItems">
                    <a class="menuLink" href="#">products</a>
                    <a class="menuLink" href="#">action items</a>
                    <a class="menuLink" href="#">inbox</a>
                </div>
            </nav>
        </div>
        <div class="navbarTitle">
            <div class="navbarIcon"></div>
            <div class="navbarParagraph">
                <p class="navbarParag">All Projects</p>
            </div>
        </div>
    </div>
</div>