<!-- top  menu -->
<div class="menu-container">
    <div class="top-row">
        <div class="menu-wrapper">
            <nav class="menu">
                <div class="menu-items">
                    <a class="menu-link" href="#">products</a>
                    <a class="menu-link" href="#">action items</a>
                    <a class="menu-link" href="#">inbox</a>
                </div>
            </nav>
        </div>
        <div class="navbar-title">
            <div class="navbar-icon"></div>
            <div class="navbar-paragraph">
                <p>All Projects</p>
            </div>
        </div>
    </div>
</div>