<div class="container dialogModal">
    <h2 class="dialogTitle" mat-dialog-title>{{ dialogTitle }}</h2>
    <mat-dialog-content [formGroup]="dialogForm">
        <mat-form-field>
            <input matInput class="typedValueColor nameInput" placeholder="Action Item Name" formControlName="name" [(ngModel)]="title" />
            <mat-error class="invalidFeedback nameError">
                Name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select class="projectInput" formControlName="project" placeholder="Project">
                <mat-option *ngFor="let project of projects" [value]="project">
                    {{ project.name }}
                </mat-option>
            </mat-select>
            <mat-error class="invalidFeedback projectError">
                Project is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="datePicker">
            <input matInput [matDatepicker]="picker" class="typedValueColor dateInput" placeholder="Due date" formControlName="dueDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="description">
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput class="typedValueColor" placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
    </mat-dialog-content>
</div>
<mat-dialog-actions class="buttons" *ngIf="!title">
    <button class="matRaisedButton close" type="button" mat-button mat-dialog-close>Close</button>
    <button class="matRaisedButton create" [disabled]="dialogForm.invalid" (click)="createActionItem()">Create<span class="faButton" *ngIf="isCreatingActionItem"><i class="fa fa-spinner fa-spin"></i></span></button>
</mat-dialog-actions>

<mat-dialog-actions class="buttons" *ngIf="title">
    <button class="matRaisedButton close" type="button" mat-button mat-dialog-close>Close</button>
    <button class="matRaisedButton create" (click)="editItem()">Edit</button>
</mat-dialog-actions>