<div class="container dialog-modal">
    <h2 class="dialogTitle" mat-dialog-title>{{ title }}</h2>
    <mat-dialog-content [formGroup]="dialogForm">
        <mat-form-field>
            <input matInput class="typedValueColor name-input" placeholder="Action Item Name" formControlName="name" />
            <mat-error *ngIf="dialogForm.get('name').hasError('required')" class="invalid-feedback">
                Name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select class="project-input" formControlName="project" placeholder="Project">
                <mat-option *ngFor="let project of projects" [value]="project">
                    {{ project.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="dialogForm.get('project').hasError('required')" class="invalid-feedback" class="invalid-feedback">
                Project is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="datePicker">
            <input matInput [matDatepicker]="picker" class="typedValueColor date-input" placeholder="Due date" formControlName="dueDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="description">
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput class="typedValueColor" placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
    </mat-dialog-content>
</div>
<mat-dialog-actions class="buttons">
    <button class="mat-raised-button close" type="button" mat-button mat-dialog-close>Close</button>
    <button class="mat-raised-button create" [disabled]="dialogForm.invalid" (click)="createActionItem()">Create<span class="fa-button" *ngIf="isCreatingActionItem"><i class="fa fa-spinner fa-spin"></i></span></button>
</mat-dialog-actions>