* {
    font-size: 14px;
    font-weight: normal;
    color: #979797;
}

mat-form-field {
    width: 95%;
}

mat-dialog-content {
    overflow-y: hidden;
}

.container {
    position: relative;
}

.invalid-feedback {
    font-size: 12px;
    color: #f44336;
}

.datePicker {
    width: 30%;
}

.dialogTitle {
    color: #003c4d;
    font-size: 18px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.mat-raised-button {
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    width: 75px;
    line-height: 25px;
    border-radius: 1px;
    font-size: 10px;
    margin: 2px;
}

.mat-raised-button:hover:enabled {
    background-color: #ddd4d4;
    color: white;
}

.mat-raised-button span {
    margin: 1px 2px;
    padding: 1px 2px;
}