    * {
        font-size: 14px;
        font-weight: normal;
        color: #979797;
        outline: none;
    }
    
    mat-form-field {
        width: 95%;
        margin-bottom: 10px;
    }
    
    mat-dialog-content {
        overflow-y: hidden;
    }
    
    .container {
        position: relative;
    }
    
    .invalidFeedback {
        font-size: 12px;
        color: #f44336;
    }
    
    .datePicker {
        width: 30%;
    }
    
    .typedValueColor {
        color: rgba(0, 0, 0, 0.87);
    }
    
    .dialogTitle {
        color: #003c4d;
        font-size: 18px;
        text-align: center;
    }
    
    .buttons {
        display: flex;
        justify-content: flex-end;
    }
    
    .matRaisedButton {
        text-transform: uppercase;
        border: none;
        box-shadow: none;
        width: 75px;
        line-height: 25px;
        border-radius: 1px;
        font-weight: bold;
        font-size: 10px;
        margin: 2px;
        cursor: pointer;
        background-color: white;
        color: #686868;
    }
    
    .matRaisedButton:hover:enabled {
        background-color: #f5f0f0;
    }
    
    .matRaisedButton:disabled {
        opacity: 0.5;
    }
    
    .saveButton:enabled {
        color: #e14504;
    }
    
    .matRaisedButton span {
        margin: 1px 2px;
        padding: 1px 2px;
    }
    
    .projectsLoader {
        padding-bottom: 5px;
        padding-left: 5px;
    }
    
    .projectsLoader .fa-circle-o-notch {
        font-size: 15px;
        color: #979797;
    }
    
     ::ng-deep .loader .mat-select-arrow-wrapper {
        display: none;
    }