<div class="container dialogModal">
    <mat-dialog-content>
        <mat-form-field>
            <input matInput class="typedValueColor nameInput" [(ngModel)]="title" />
        </mat-form-field>
        <mat-form-field>
            <mat-select class="projectInput" [placeholder]="projectName">
                <mat-option>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="datePicker">
            <input matInput [matDatepicker]="picker" class="typedValueColor dateInput" [placeholder]="dueDate | date: 'MM/dd/yyyy'" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-dialog-content>
</div>
<mat-dialog-actions class="buttons">
    <button class="matRaisedButton close" type="button" mat-button mat-dialog-close>Close</button>
    <button class="matRaisedButton create" (click)="editData()">Edit</button>
</mat-dialog-actions>