* {
    font-size: 14px;
    font-weight: normal;
    color: #979797;
}

.container {
    width: 100%;
    margin: 0;
}

.dialogButton {
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    width: 75px;
    line-height: 25px;
    border-radius: 1px;
    font-size: 10px;
    margin: 2px;
    cursor: pointer;
}

.dialogButton:hover:enabled {
    background-color: #ddd4d4;
    color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.confirmationMessage {
    text-align: center;
    padding: 10px;
}